@white: #f7f3ee;
@very-light: #F1EBE4;
@light: #EAE2D7;
@gray: #A99A84;
@black: #625B50;

@orange-light: #f5e0c4; // rgb(245, 224, 196)
@orange-light-trn: rgba(242, 165, 60, 0.25);
@orange-medium: #A78B65;
@orange-dark: #5b5245;
@orange-bright: #DF870C;

@yellow-light: #f0e4a8; // rgb(240, 228, 168)
@yellow-light-trn: rgba(225, 200, 30, 0.35);
@yellow-dark: #585441;

@green-light: #e0e8ba; // rgb(224, 232, 186)
@green-light-trn: rgba(155, 202, 20, 0.25);
@green-medium: #8C9563;
@green-dark: #51553F;
@green-vivid: #5C7000;
@green-bright: #8AA60B;

@blue-light: #d6e5f1; // rgb(214, 229, 241)
@blue-light-trn: rgba(115, 185, 255, 0.25);
@blue-medium: #7992A6;
@blue-dark: #485561;
@blue-vivid: #0F6CB8;
@blue-bright: #47A1EB;

@violet-light: #e6e0f5; // rgb(230, 224, 245)
@violet-light-trn: rgba(202, 195, 255, 0.40);
@violet-dark: #554E6A;
@violet-vivid: #714EDA;

@purple-light: #f1ddf0; // rgb(241, 221, 240)
@purple-light-trn: rgba(220, 155, 250, 0.25);
@purple-medium: #A984A7;
@purple-dark: #664B64;
@purple-vivid: #AF2CA9;

@red-bright: #FB6C6A;
